.career-banner-section {
  padding : 20px;
  .sr-container{
    .section__header {
      margin-bottom: 30px;
    }
    .wrapper-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin : 20px
    }
  }
}