.people-card-section {
  scroll-margin-block-start: 110px;
  .sr-container {
    .mentor-heading {
      margin : 30px 0;
    }
    .mentor-sub {
      margin :30px;
      font-size: 18px;
    }
    #mentor {
  scroll-margin-block-start: 110px;
    }

  }
}