
.companies {
  background-size: 8823px 74px;
  background-image: url(https://assets.scaler.com/assets/academy/png/companies-45fd75127f6a15cea0246c4f3adb49dc6e0280986d30a12b418d6589431b0b2a.png);
  background-repeat: no-repeat;
  display: block
}

.companies.adobe {
  height: 72px;
  width: 49px;
  background-position: -1px
}

.companies.ajio {
  height: 72px;
  width: 124px;
  background-position: -52px
}

.companies.atlassian {
  height: 72px;
  width: 179px;
  background-position: -178px
}

.companies.checkpoint {
  height: 72px;
  width: 162px;
  background-position: -359px
}

.companies.codechef {
  height: 72px;
  width: 162px;
  background-position: -523px
}

.companies.cognizant {
  height: 72px;
  width: 161px;
  background-position: -687px
}

.companies.cred {
  height: 72px;
  width: 132px;
  background-position: -850px
}

.companies.creditsuisse {
  height: 72px;
  width: 191px;
  background-position: -984px
}

.companies.delhivery {
  height: 72px;
  width: 139px;
  background-position: -1177px
}

.companies.dgraph {
  height: 72px;
  width: 172px;
  background-position: -1318px
}

.companies.dunzo {
  height: 72px;
  width: 159px;
  background-position: -1492px
}

.companies.expedia {
  height: 72px;
  width: 164px;
  background-position: -1653px
}

.companies.facebook {
  height: 72px;
  width: 152px;
  background-position: -1819px
}

.companies.flipkart {
  height: 72px;
  width: 174px;
  background-position: -1973px
}

.companies.foyr {
  height: 72px;
  width: 122px;
  background-position: -2149px
}

.companies.goldman {
  height: 72px;
  width: 142px;
  background-position: -2273px
}

.companies.google {
  height: 72px;
  width: 137px;
  background-position: -2417px
}

.companies.hcl {
  height: 72px;
  width: 126px;
  background-position: -2556px
}

.companies.infosys {
  height: 72px;
  width: 108px;
  background-position: -2684px
}

.companies.lucideus {
  height: 72px;
  width: 173px;
  background-position: -2794px
}

.companies.microsoft {
  height: 72px;
  width: 157px;
  background-position: -2969px
}

.companies.mindtickle {
  height: 72px;
  width: 167px;
  background-position: -3128px
}

.companies.mindtree {
  height: 72px;
  width: 164px;
  background-position: -3297px
}

.companies.netflix {
  height: 72px;
  width: 121px;
  background-position: -3463px
}

.companies.ola {
  height: 72px;
  width: 116px;
  background-position: -3586px
}

.companies.paypal {
  height: 72px;
  width: 164px;
  background-position: -3704px
}

.companies.paysafe {
  height: 72px;
  width: 132px;
  background-position: -3870px
}

.companies.paytm {
  height:72px;
  width: 117px;
  background-position: -4004px
}

.companies.phonepe {
  height: 72px;
  width: 158px;
  background-position: -4123px
}

.companies.qualcomm {
  height: 72px;
  width: 167px;
  background-position: -4283px
}

.companies.salesken {
  height: 72px;
  width: 165px;
  background-position: -4452px
}

.companies.samsung {
  height: 72px;
  width: 168px;
  background-position: -4619px
}

.companies.tekion {
  height: 72px;
  width: 165px;
  background-position: -4789px
}

.companies.uber {
  height: 72px;
  width: 103px;
  background-position: -4956px
}

.companies.walmart {
  height: 72px;
  width: 177px;
  background-position: -5061px
}

.companies.walmartlabs {
  height: 72px;
  width: 182px;
  background-position: -5240px
}

.companies.zeta {
  height: 72px;
  width: 88px;
  background-position: -5424px
}

.companies.amazon {
  height: 72px;
  width: 135px;
  background-position: -5514px
}

.companies.capillary {
  height: 72px;
  width: 190px;
  background-position: -5651px
}

.companies.cleartax {
  height: 72px;
  width: 168px;
  background-position: -5843px
}

.companies.decorpot {
  height: 72px;
  width: 170px;
  background-position: -6013px
}

.companies.druva {
  height: 72px;
  width: 158px;
  background-position: -6185px
}

.companies.fab {
  height: 72px;
  width: 112px;
  background-position: -6345px
}

.companies.gojek {
  height: 72px;
  width: 140px;
  background-position: -6459px
}

.companies.hotstar {
  height: 72px;
  width: 143px;
  background-position: -6601px
}

.companies.intuit {
  height: 72px;
  width: 109px;
  background-position: -6746px
}

.companies.jio {
  height: 72px;
  width: 62px;
  background-position: -6857px
}

.companies.media {
  height: 72px;
  width: 156px;
  background-position: -6921px
}

.companies.myntra {
  height: 72px;
  width: 172px;
  background-position: -7079px
}

.companies.needl {
  height: 72px;
  width: 173px;
  background-position: -7253px
}

.companies.nutanix {
  height: 72px;
  width: 155px;
  background-position: -7428px
}

.companies.nvidia {
  height: 72px;
  width: 167px;
  background-position: -7585px
}

.companies.olx {
  height: 72px;
  width: 85px;
  background-position: -7754px
}

.companies.oneplus {
  height: 72px;
  width: 167px;
  background-position: -7841px
}

.companies.scaler {
  height: 72px;
  width: 178px;
  background-position: -8010px
}

.companies.scaler-monogram {
  height: 72px;
  width: 72px;
  background-position: -8190px
}

.companies.snapdeal {
  height: 72px;
  width: 146px;
  background-position: -8264px
}

.companies.toppr {
  height: 72px;
  width: 149px;
  background-position: -8412px
}

.companies.visa {
  height: 72px;
  width: 111px;
  background-position: -8563px
}

.companies.wakefit {
  height: 72px;
  width: 146px;
  background-position: -8676px
}

.companies.half {
  background-size: 4411.5px 37px;
}

.companies.half.adobe {
  height: 36px;
  width: 24.5px;
  background-position: -0.5px
}

.companies.half.ajio {
  height: 36px;
  width: 62px;
  background-position: -26px
}

.companies.half.atlassian {
  height: 36px;
  width: 89.5px;
  background-position: -89px
}

.companies.half.checkpoint {
  height: 36px;
  width: 81px;
  background-position: -179.5px
}

.companies.half.codechef {
  height: 36px;
  width: 81px;
  background-position: -261.5px
}

.companies.half.cognizant {
  height: 36px;
  width: 80.5px;
  background-position: -343.5px
}

.companies.half.cred {
  height: 36px;
  width: 66px;
  background-position: -425px
}

.companies.half.creditsuisse {
  height: 36px;
  width: 95.5px;
  background-position: -492px
}

.companies.half.delhivery {
  height: 36px;
  width: 69.5px;
  background-position: -588.5px
}

.companies.half.dgraph {
  height: 36px;
  width: 86px;
  background-position: -659px
}

.companies.half.dunzo {
  height: 36px;
  width: 79.5px;
  background-position: -746px
}

.companies.half.expedia {
  height: 36px;
  width: 82px;
  background-position: -826.5px
}

.companies.half.facebook {
  height: 36px;
  width: 76px;
  background-position: -909.5px
}

.companies.half.flipkart {
  height: 36px;
  width: 87px;
  background-position: -986.5px
}

.companies.half.foyr {
  height: 36px;
  width: 61px;
  background-position: -1074.5px
}

.companies.half.goldman {
  height: 36px;
  width: 71px;
  background-position: -1136.5px
}

.companies.half.google {
  height: 36px;
  width: 68.5px;
  background-position: -1208.5px
}

.companies.half.hcl {
  height: 36px;
  width: 63px;
  background-position: -1278px
}

.companies.half.infosys {
  height: 36px;
  width: 54px;
  background-position: -1342px
}

.companies.half.lucideus {
  height: 36px;
  width: 86.5px;
  background-position: -1397px
}

.companies.half.microsoft {
  height: 36px;
  width: 78.5px;
  background-position: -1484.5px
}

.companies.half.mindtickle {
  height: 36px;
  width: 83.5px;
  background-position: -1564px
}

.companies.half.mindtree {
  height: 36px;
  width: 82px;
  background-position: -1648.5px
}

.companies.half.netflix {
  height: 36px;
  width: 60.5px;
  background-position: -1731.5px
}

.companies.half.ola {
  height: 36px;
  width: 58px;
  background-position: -1793px
}

.companies.half.paypal {
  height: 36px;
  width: 82px;
  background-position: -1852px
}

.companies.half.paysafe {
  height: 36px;
  width: 66px;
  background-position: -1935px
}

.companies.half.paytm {
  height: 36px;
  width: 58.5px;
  background-position: -2002px
}

.companies.half.phonepe {
  height: 36px;
  width: 79px;
  background-position: -2061.5px
}

.companies.half.qualcomm {
  height: 36px;
  width: 83.5px;
  background-position: -2141.5px
}

.companies.half.salesken {
  height: 36px;
  width: 82.5px;
  background-position: -2226px
}

.companies.half.samsung {
  height: 36px;
  width: 84px;
  background-position: -2309.5px
}

.companies.half.tekion {
  height: 36px;
  width: 82.5px;
  background-position: -2394.5px
}

.companies.half.uber {
  height: 36px;
  width: 51.5px;
  background-position: -2478px
}

.companies.half.walmart {
  height: 36px;
  width: 88.5px;
  background-position: -2530.5px
}

.companies.half.walmartlabs {
  height: 36px;
  width: 91px;
  background-position: -2620px
}

.companies.half.zeta {
  height: 36px;
  width: 44px;
  background-position: -2712px
}

.companies.half.amazon {
  height: 36px;
  width: 67.5px;
  background-position: -2757px
}

.companies.half.capillary {
  height: 36px;
  width: 95px;
  background-position: -2825.5px
}

.companies.half.cleartax {
  height: 36px;
  width: 84px;
  background-position: -2921.5px
}

.companies.half.decorpot {
  height: 36px;
  width: 85px;
  background-position: -3006.5px
}

.companies.half.druva {
  height: 36px;
  width: 79px;
  background-position: -3092.5px
}

.companies.half.fab {
  height: 36px;
  width: 56px;
  background-position: -3172.5px
}

.companies.half.gojek {
  height: 36px;
  width: 70px;
  background-position: -3229.5px
}

.companies.half.hotstar {
  height: 36px;
  width: 71.5px;
  background-position: -3300.5px
}

.companies.half.intuit {
  height: 36px;
  width: 54.5px;
  background-position: -3373px
}

.companies.half.jio {
  height: 36px;
  width: 31px;
  background-position: -3428.5px
}

.companies.half.media {
  height: 36px;
  width: 78px;
  background-position: -3460.5px
}

.companies.half.myntra {
  height: 36px;
  width: 86px;
  background-position: -3539.5px
}

.companies.half.needl {
  height: 36px;
  width: 86.5px;
  background-position: -3626.5px
}

.companies.half.nutanix {
  height: 36px;
  width: 77.5px;
  background-position: -3714px
}

.companies.half.nvidia {
  height: 36px;
  width: 83.5px;
  background-position: -3792.5px
}

.companies.half.olx {
  height: 36px;
  width: 42.5px;
  background-position: -3877px
}

.companies.half.oneplus {
  height: 36px;
  width: 83.5px;
  background-position: -3920.5px
}

.companies.half.scaler {
  height: 36px;
  width: 89px;
  background-position: -4005px
}

.companies.half.scaler-monogram {
  height: 36px;
  width: 36px;
  background-position: -4095px
}

.companies.half.snapdeal {
  height: 36px;
  width: 73px;
  background-position: -4132px
}

.companies.half.toppr {
  height: 36px;
  width: 74.5px;
  background-position: -4206px
}

.companies.half.visa {
  height: 36px;
  width: 55.5px;
  background-position: -4281.5px
}

.companies.half.wakefit {
  height: 36px;
  width: 73px;
  background-position: -4338px
}

