@import "../../../../../../../assets/colors";

.flexibility-card-container {
  flex-basis: 30%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding :20px 10px;
  border-radius: 8px;
  border : 1px solid #a9bad2;
  margin :10px;
  .flexibility-img-container {
    vertical-align: bottom;
    display: inline;
    img {
      max-width: 100%;
    }
  }
  .flexibility-content-container {
    text-align: center;
    color :black;
    .title {
      font-size: 21px;
      color: inherit;
      font-weight: 800;
      margin-bottom: 10px;
    }
    .subtitle{
      font-size: 14px;
      color: $colorPrimary  ;
    }
  }
}