@import "../../../../../assets/colors";

.feature-container{
  margin-top: -250px;
  background-color: transparent;
    .glance-content {
      background-color: $white;
      border-radius: 8px;
      text-align: center;
      box-shadow: 0 0.8rem 3.2rem 0 rgb(2 16 40 / 16%);
      .glance-title {
        padding : 60px 60px 0 60px;
        font-size: 32px;
        color: black;
        line-height: 1.2;
      } 
      .feature-items-container {
        padding-bottom: 60px;
      }
    
  }
}