@import "../../../assets/colors";

.academy-button {
  display: inline-flex;
  text-align: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  border-radius: $borderRadiusPrimary;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  padding : unset !important;
  @media (max-width : 414px) {
    font-size: unset;
    .btn {
      padding :13px !important;
      font-size: 12px !important;
      font-weight: 900;
    }
  }
   .btn{
    background-color: transparent;
    color : inherit;
    display: inline;
    outline: unset;
    border: unset;
    padding: 10px 30px;
    width: 100%;
    display: block;
    font-size: inherit;
    &:active ,&:focus-visible {
      outline: unset !important;
      background-color: unset !important;
      border-color: unset !important;

    }
   }
}


.primary {
  color: $primaryColor;
  border: 1px solid $primaryColor;
  background-color: $primaryColor;
  &:hover {
    background-color: $primaryColor;
    color: $white;
  }
}
.outline {
  background-color: inherit;
}
.secondary {
    background-color: #e21032;
    color : $white;
    &:hover {
      background-color: #f13453;
      box-shadow: 0 0.5rem 2.3rem 0 rgb(226 16 50 / 50%);
    }
}
.light {
  background-color: $white;
  color :$primaryColor;
}
.academy-button__true {
  width: 100%;
}